<footer class="footer">
    <div class="container">
        <div class="footer-details center rich-text">
            <span class="icon-contact"></span>
            <h2>CONTACT ME</h2>
            <hr />
            <p>Do you need a website or need your current website redesigned? Please get in touch to find out how I can help you!</p>
            <p class="purple contact-details">Email: <a href="mailto:pattisonclaudia@gmail.com" class="pink">pattisonclaudia@gmail.com</a><br/ >
            Phone: 07450 995429</p>
             <ul class="social-media-list">
                <li><a href="/"><span class="icon-twitter"></span></a></li>
                <li><a href="http://linkedin.com/in/claudiapattison" target="_blank"><span class="icon-linkedin"></span></a></li>
            </ul>
            <p class="footer-disclaimer">Claudia Pattison Copyright 2017. <br /> A freelance web designer based in Bicester, Oxfordshire, offering bespoke responsive web design and development.</p>
        </div>
    </div>
</footer>
