<header class="site-header" role="banner">
    <div class="logo">
        <a href="/">
            <h1 class="site-logo">CLAUDIA <span class="yellow">PATTISON</span></h1>
            <span class="job-title">Designer & Front End Developer</span>
        </a>
    </div>
    <div class="main-navigation" id="main-navigation">
        <nav>
            <ul>
                <li><a href="/#about">About</a></li>
                <li><a href="/#projects">Projects</a></li>
                <li><a href="/#capabilities">Capabilities</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

