.yellow {color:$tertiary-color;}

.purple {color:$primary-color;}

.center {text-align:center;}

.contact-details {font-family:$secondary-font; font-weight:$secondary-font-light; color:$primary-color;

	a {color:$primary-color; text-decoration:none;}
}

.summary {font-size:20px;}

.img-border {border:20px solid $grey-color-1;

	@include screen-size(medium-screens) {border:60px solid $grey-color-1;}
}

.content {padding-top:60px; padding-bottom:60px;}