//Typography
$primary-font:'Lato', sans-serif;
$primary-font-light:300;
$primary-font-bold:700;

$secondary-font:'Fira Sans', sans-serif;
$secondary-font-light:300;
$secondary-font-bold:700;

$tertiary-font:'manifestoregular', sans-serif;

//Brand Primary Colours
$primary-color:#6E7995;
$primary-color-alt:#9099A2;

$secondary-color:#96858D;

$tertiary-color:#FFEDBC;

$grey-color-1:#F3F3F3;

//Common Element Variables
$link-color:#F5F5F5;
$text-color:#3B3A3A;
$gradient:linear-gradient(135deg, $primary-color 1%,$secondary-color 100%);








